* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.width {
  width: 250px;
}

body {
  background: #023939;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 30px;
}

.box {
  /* background-color: #fff; */
  padding: 15px;
  border-radius: 10px;
}

h1,
h2 {
  color: #fff;
}

.task-block {
  display: flex;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  gap: 5px;
}

input {
  border: 0;
}

input:focus {
  outline: 0;
  text-emphasis: none;
}

button {
  background-color: #01745e;
  border: 0;
  color: #fff;
  width: 220px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

button:active {
  background-color: #015346;
  transform: scale(0.98);
  transition: all 0.3s;
}

ion-icon {
  cursor: pointer;
}

ion-icon:active {
  transform: scale(1.2);
  transition: all 0.3s;
}

@media (max-width: 765px) {
  h1 {
    padding-top: 200px;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
}
